{% extends "base.html" %}
{% block title %}Logga in{% endblock %}
{% block content %}
  <h2>Logga in</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(class="form-input") }}<br>
      {% for err in form.username.errors %}
        <span class="error">{{ err }}</span><br>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(class="form-input") }}<br>
      {% for err in form.password.errors %}
        <span class="error">{{ err }}</span><br>
      {% endfor %}
    </p>
    <p>{{ form.submit() }}</p>


  </form>

{% if 'Du måste bekräfta din e-post' in get_flashed_messages() %}
  <form method="post" action="{{ url_for('auth.resend_confirm') }}">
    <input type="hidden" name="email" value="{{ form.username.data }}">
    <button type="submit" class="btn-link">Skicka ny bekräftelselänk</button>
  </form>
{% endif %}



  <p>Inget konto? <a href="{{ url_for('auth.register') }}">Registrera dig</a></p>
{% endblock %}
