{% extends "base.html" %}
{% block title %}Registrera{% endblock %}
{% block content %}
  <h2>Registrera konto</h2>
  <form method="post">
    {{ form.hidden_tag() }}
    <p>
      {{ form.username.label }}<br>
      {{ form.username(class="form-input") }}<br>
      {% for err in form.username.errors %}
        <span class="error">{{ err }}</span><br>
      {% endfor %}
    </p>
    <p>
      {{ form.email.label }}<br>
      {{ form.email(class="form-input") }}<br>
      {% for err in form.email.errors %}
        <span class="error">{{ err }}</span><br>
      {% endfor %}
    </p>
    <p>
      {{ form.password.label }}<br>
      {{ form.password(class="form-input") }}<br>
      {% for err in form.password.errors %}
        <span class="error">{{ err }}</span><br>
      {% endfor %}
    </p>
    <p>
      {{ form.password2.label }}<br>
      {{ form.password2(class="form-input") }}<br>
      {% for err in form.password2.errors %}
        <span class="error">{{ err }}</span><br>
      {% endfor %}
    </p>
    <p>{{ form.submit(class="btn-primary") }}</p>
  </form>
  <p>Har du redan ett konto? <a href="{{ url_for('auth.login') }}">Logga in</a></p>
{% endblock %}
